<h2>Courier account</h2>
<p><%= link_to "Edit", edit_courier_path(@courier) %> | <%= link_to "Home", root_path %></p>
<p>Name:<%= @courier.name %> </p>
<p>E-mail:<%= @courier.email %></p>

<h2><%= @courier.name %> packages</h2>
<table>
  <thead>
  <tr>
    <th>Tracking number</th>
    <th>Delivery status</th>
  </tr>
  </thead>
  <tbody>
  <%= render @courier.packages %>
  </tbody>
</table>

<h2>Add a NEW package to courier <%= @courier.name %>:</h2>
<%= form_with model: [ @courier, @courier.packages.build ] do |form| %>
  <p>
    <%= form.label :tracking_number %><br>
    <%= form.text_field :tracking_number %>
  </p>
  <p>
    <%= form.label :delivery_status %><br>
    <%= form.check_box :delivery_status %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>